.left_arrow {
   background-position:-204px -89px; 
   width:10px;
   height:10px;
};
.left_cashflow {
   background-position:-136px -68px; 
   width:14px;
   height:14px;
};
.left_cashflow_f {
   background-position:-136px -34px; 
   width:14px;
   height:14px;
};
.left_delete {
   background-position:-0px -34px; 
   width:14px;
   height:14px;
};
.left_delete_f {
   background-position:-34px -34px; 
   width:14px;
   height:14px;
};
.left_economy {
   background-position:-68px -0px; 
   width:14px;
   height:14px;
};
.left_economy_f {
   background-position:-68px -34px; 
   width:14px;
   height:14px;
};
.left_found {
   background-position:-0px -68px; 
   width:14px;
   height:14px;
};
.left_found_f {
   background-position:-34px -68px; 
   width:14px;
   height:14px;
};
.left_futures {
   background-position:-68px -68px; 
   width:14px;
   height:14px;
};
.left_futures_f {
   background-position:-102px -0px; 
   width:14px;
   height:14px;
};
.left_home {
   background-position:-102px -34px; 
   width:14px;
   height:14px;
};
.left_home_f {
   background-position:-102px -68px; 
   width:14px;
   height:14px;
};
.left_hot {
   background-position:-0px -102px; 
   width:14px;
   height:14px;
};
.left_hot_f {
   background-position:-34px -102px; 
   width:14px;
   height:14px;
};
.left_hsgt {
   background-position:-68px -102px; 
   width:14px;
   height:14px;
};
.left_hsgt_f {
   background-position:-102px -102px; 
   width:14px;
   height:14px;
};
.left_icon_hot {
   background-position:-204px -32px; 
   width:14px;
   height:7px;
};
.left_more {
   background-position:-204px -59px; 
   width:10px;
   height:10px;
};
.left_move {
   background-position:-34px -0px; 
   width:14px;
   height:14px;
};
.left_mydata {
   background-position:-136px -102px; 
   width:14px;
   height:14px;
};
.left_mydata_f {
   background-position:-0px -136px; 
   width:14px;
   height:14px;
};
.left_new {
   background-position:-34px -136px; 
   width:14px;
   height:14px;
};
.left_newdata {
   background-position:-68px -136px; 
   width:14px;
   height:14px;
};
.left_newdata_f {
   background-position:-102px -136px; 
   width:14px;
   height:14px;
};
.left_notice {
   background-position:-136px -136px; 
   width:14px;
   height:14px;
};
.left_notice_f {
   background-position:-170px -0px; 
   width:14px;
   height:14px;
};
.left_researchreport {
   background-position:-170px -34px; 
   width:14px;
   height:14px;
};
.left_research_f {
   background-position:-170px -68px; 
   width:14px;
   height:14px;
};
.left_shareholder {
   background-position:-170px -102px; 
   width:14px;
   height:14px;
};
.left_shareholder_f {
   background-position:-170px -136px; 
   width:14px;
   height:14px;
};
.left_specialdata {
   background-position:-0px -170px; 
   width:14px;
   height:14px;
};
.left_specialdata_f {
   background-position:-34px -170px; 
   width:14px;
   height:14px;
};
.left_star {
   background-position:-68px -170px; 
   width:14px;
   height:14px;
};
.left_star_f {
   background-position:-102px -170px; 
   width:14px;
   height:14px;
};
.left_yearreport {
   background-position:-0px -0px; 
   width:14px;
   height:14px;
};
.left_yearreport_f {
   background-position:-204px -0px; 
   width:14px;
   height:12px;
};
.new {
   background-position:-136px -0px; 
   width:14px;
   height:14px;
};
.sjqjt.gif {
   background-position:-136px -170px; 
   width:19px;
   height:9px;
};
